#ЗАДАЧА 7

Выгружаем таблице City с базы данных World-db

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_sql(
"""
SELECT
  *
FROM
  City;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

In [ ]:
df.head()

   id            name country_code       district  population
0   1           Kabul          AFG          Kabol     1780000
1   2        Qandahar          AFG       Qandahar      237500
2   3           Herat          AFG          Herat      186800
3   4  Mazar-e-Sharif          AFG          Balkh      127800
4   5       Amsterdam          NLD  Noord-Holland      731200

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4079 non-null   int64
 1   name          4079 non-null   object
 2   country_code  4079 non-null   object
 3   district      4079 non-null   object
 4   population    4079 non-null   int64
dtypes: int64(2), object(3)
memory usage: 159.5+ KB

In [ ]:
df_small=df[['name','population']]
df_small.head()

             name  population
0           Kabul     1780000
1        Qandahar      237500
2           Herat      186800
3  Mazar-e-Sharif      127800
4       Amsterdam      731200

In [ ]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4079 non-null   object
 1   population  4079 non-null   int64
dtypes: int64(1), object(1)
memory usage: 63.9+ KB

In [ ]:
filter_large = df_small['name'] == 'Saint Petersburg'
df_small.loc[filter_large]

                  name  population
3859  Saint Petersburg      248232

# ЗАДАЧА 8 Открываем csv

In [ ]:
df.DATA = pd.read_csv('DATA.csv',sep=',')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [ ]:
df.DATA.head()

     Отметка времени    Страна           Город   ... Дней              City  CORREL
0  1/2/2022 21:27:34    Россия           Ростов  ...    5            Rostov     NaN
1  1/2/2022 21:40:27    Россия  Санкт-Петербург  ...    7  Saint Petersburg     NaN
2  1/2/2022 21:41:13   Абхазия            Сухум  ...   14            Sukhum     NaN
3  1/2/2022 21:42:29  Болгария            София  ...   15             Sofia     NaN
4  1/2/2022 21:43:25    Россия           Самара  ...    9            Samara     NaN

[5 rows x 16 columns]

#ЗАДАЧА 9 Получаем название городов и его населением из таблицы City

In [ ]:
df_small.head()

             name  population
0           Kabul     1780000
1        Qandahar      237500
2           Herat      186800
3  Mazar-e-Sharif      127800
4       Amsterdam      731200

#ЗАДАЧА 10 Cоединяем данные

In [ ]:
df_big = df_small.merge(df.DATA, left_on='name', right_on='City', how='inner')

In [ ]:
df_big.head()

               name  population  ...              City CORREL
0          Budapest     1811552  ...          Budapest    NaN
1            Samara     1156100  ...            Samara    NaN
2         Volgograd      993400  ...         Volgograd    NaN
3  Saint Petersburg      248232  ...  Saint Petersburg    NaN

[4 rows x 18 columns]

#ЗАДАЧА 10 Группировка по странам и рассчёт средней численности населения

In [ ]:
df_country=df_big[['Страна','population']]
df_country.head()

    Страна  population
0  Венгрия     1811552
1   Россия     1156100
2   Россия      993400
3   Россия      248232

In [ ]:
df_country.groupby('Страна').mean()

         population
Страна
Венгрия     1811552
Россия       799244