In [ ]:
import pandas as pd

выгрузка таблицы **country_language** | проверка

In [ ]:
df_cl = pd.read_sql(
"""
SELECT
  *
FROM
  country_language;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)
df_cl.head()

  country_code    language  is_official  percentage
0          AFG      Pashto         True        52.4
1          NLD       Dutch         True        95.6
2          ANT  Papiamento         True        86.2
3          ALB   Albaniana         True        97.9
4          DZA      Arabic         True        86.0

смотрим сколько значений попадает в True и False

In [ ]:
df_cl['is_official'].value_counts()

False    746
True     238
Name: is_official, dtype: int64

выгрузка таблицы **country** | проверка

In [ ]:
df_c = pd.read_sql(
"""
SELECT
  *
FROM
  country;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)
df_c.head()

  code                  name  ... capital code2
0  AFG           Afghanistan  ...     1.0    AF
1  NLD           Netherlands  ...     5.0    NL
2  ANT  Netherlands Antilles  ...    33.0    AN
3  ALB               Albania  ...    34.0    AL
4  DZA               Algeria  ...    35.0    DZ

[5 rows x 15 columns]

объединение таблиц | проверка

In [ ]:
df_big = pd.read_sql(
"""
SELECT
  *
FROM
  country_language cl
INNER JOIN
  country c
ON
  cl.country_code = c.code
WHERE
  is_official = 'True'
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)
df_big.head()

  country_code    language  is_official  ...         head_of_state capital code2
0          AFG      Pashto         True  ...         Mohammad Omar     1.0    AF
1          NLD       Dutch         True  ...               Beatrix     5.0    NL
2          ANT  Papiamento         True  ...               Beatrix    33.0    AN
3          ALB   Albaniana         True  ...        Rexhep Mejdani    34.0    AL
4          DZA      Arabic         True  ...  Abdelaziz Bouteflika    35.0    DZ

[5 rows x 19 columns]

проверка объединеной таблицы df_big на выгрузку данных по полю is_official только True

In [ ]:
df_big['is_official'].value_counts()

True    238
Name: is_official, dtype: int64

выгрузка определеных полей из таблицы df_big | создание df_small

In [ ]:
df_small = df_big[['country_code','language','percentage','name','is_official']]
df_small.head()

  country_code    language  percentage                  name  is_official
0          AFG      Pashto        52.4           Afghanistan         True
1          NLD       Dutch        95.6           Netherlands         True
2          ANT  Papiamento        86.2  Netherlands Antilles         True
3          ALB   Albaniana        97.9               Albania         True
4          DZA      Arabic        86.0               Algeria         True

проверка количества официальных языков

In [ ]:
df_small['country_code'].value_counts()

CHE    4
ZAF    4
BOL    3
LUX    3
BEL    3
      ..
ATG    1
AZE    1
NCL    1
LTU    1
MCO    1
Name: country_code, Length: 190, dtype: int64

проверка на одном из кодов

In [ ]:
df_smallCHE = df_small[df_small['country_code'] == 'CHE']
df_smallCHE.head(10)

    country_code language  percentage         name  is_official
130          CHE   German        63.6  Switzerland         True
202          CHE   French        19.2  Switzerland         True
224          CHE  Italian         7.7  Switzerland         True
231          CHE  Romansh         0.6  Switzerland         True